*{
    font-family: 'Roboto Condensed', sans-serif;
}

.contenedorComics{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20%;
    
}

.contenedorComics img{
    width: 35%;
    height: auto;
}

.contenedorComics h1{
    font-weight: bold;
    font-size: 13px;
    
}

#resultados{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}